* {
  box-sizing: border-box;
  font-family: "Lexend Deca";
}

body {
  font-family: "Lexend Deca";
}

input {
  padding: 10px;
  border: 2px solid gray;
  border-radius: 4px;
  width: 100%;
}

h1 {
  font-size: xx-large;
  text-align: center;
}

.task-container {
  margin: 0 auto;
  padding: 20px;
  width: 600px;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border: 2px solid gray;
  border-radius: 4px;
  padding: 10px 20px;
  word-break: break-word;
}

.task-item div {
  display: flex;
  align-items: center;
  gap: 14px;
}

.task-done {
  color: red;
  text-decoration: line-through;
}

ion-icon {
  cursor: pointer;
  visibility: visible;
  --ionicon-stroke-width: 50px;
}

ion-icon:hover {
  transform: scale(1.2);
}

.icon-done {
  color: green;
}

.icon-update {
  color: orange;
}

.icon-delete {
  color: red;
}

.task-button-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.task-button {
  border-radius: 4px;
  padding: 10px 0;
  margin: 20px 0;
  width: 100%;
  background-color: darkcyan;
  color: white;
  text-align: center;
  cursor: pointer;
}

.task-button-disabled {
  opacity: 50%;
  cursor: default;
  pointer-events: none;
}

.task-button:hover {
  transform: scale(1.05);
}

.task-button-red {
  background-color: crimson;
}
